<p class="clearfix"></p>
<label class="font-weight-bold bg-light w-100 text-secondary text-left">{{type}} Data</label>
<table *ngIf="type === 'Income'" class="table table-sm table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col">Reference</th>
      <th scope="col">Transaction Type</th>
      <th scope="col">Date Recieved</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let _data of data">
      <td scope="row">{{_data.referenceNo}}</td>
      <td>{{_data.transactionType}}</td>
      <td>{{getDateFormat(_data.transactionDate)}}</td>
      <td>{{_data.amount}}</td>
    </tr>
  </tbody>
</table>

<table *ngIf="type === 'Detail Expence'" class="table table-sm table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col">Reference</th>
      <th scope="col">Transaction Type</th>
      <th scope="col">Date Recieved</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let _data of data">
      <td scope="row">{{_data.referenceNo}}</td>
      <td>{{_data.transactionType}}</td>
      <td>{{getDateFormat(_data.transactionDate)}}</td>
      <td>{{_data.amount}}</td>
    </tr>
  </tbody>
</table>

<table *ngIf="type === 'Expence'" class="table table-sm table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col">Expence</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let _data of groupedData" (click)="getDetiailGroupByResults(_data)">
      <td>{{_data.expence}}</td>
      <td>{{_data.amount}}</td>
    </tr>
  </tbody>
</table>