<button class="btn btn-default mt-1" (click)="addTransaction()">+Add Transaction</button>
<form *ngFor="let _data of data; let i= index">
  <div class="form-each-comp">
    <!--<div class="form-group row">
       <label for="id" class="col-sm-2 col-form-label">ID</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" readonly name="id" [(ngModel)]="_data.id" placeholder="Enter Transaction Id">
      </div>
    </div> -->
    <div class="form-group row">
      <label for="transactionType" class="col-sm-2 col-form-label">Type</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="transactionType" [(ngModel)]="_data.transactionType" placeholder="Enter Transaction Type">
      </div>
    </div>
    <div class="form-group row">
      <label for="referenceNo" class="col-sm-2 col-form-label">Reference</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="referenceNo" [(ngModel)]="_data.referenceNo" placeholder="Enter Transaction Id for reference">
      </div>
    </div>
    <div class="form-group row">
      <label for="transactionDate" class="col-sm-2 col-form-label">Date</label>
      <div class="col-sm-10">
          <input matInput [matDatepicker]="picker" [(ngModel)]="_data.transactionDate"  [ngModelOptions]="{standalone: true}" placeholder="Choose Transaction date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </div>
    </div>
    <div class="form-group row">
      <label for="amount" class="col-sm-2 col-form-label">Amount</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" name="amount" [(ngModel)]="_data.amount" placeholder="Enter Transaction Amount">
      </div>
    </div>
    <button class="btn btn-default mr-4" *ngIf="_data.transactionId !== ''" (click)="update(_data, i)">Update</button>
    <button class="btn btn-default mr-4" *ngIf="_data.transactionId === ''" (click)="update(_data, i)">Add</button>
    <button class="btn btn-primary" (click)="delete(_data,i)">Delete</button>
  </div>
</form>