<app-header></app-header>
<mat-sidenav-container class="mbc-container" (backdropClick)="close('backdrop')">
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
    <i class="fa fa-angle-double-left arrow" (click)="close('toggle button')" aria-hidden="true"></i>
    <button type="button" (click)="openDialog()" class="btn btn-light float-right">+Add Client</button>
    <app-left-panel (setClientData)="setClientDetails($event)"> </app-left-panel>
  </mat-sidenav>
  <mat-sidenav-content  *ngIf="clientData">
    <i class="fa fa-angle-double-right fa-5 arrow" (click)="sidenav.open()" aria-hidden="true"></i>
    <span class="mr-4">
      <strong class="text-secondary">Client :</strong> {{clientData.clientName}} </span>
    <span class="mr-4">
      <strong class="text-secondary">Income :</strong> Rs. {{clientData.totalIncome}} </span>
    <span class="mr-4">
      <strong class="text-secondary">Expences :</strong> Rs. {{clientData.totalExpenses}} </span>
    <span class="mr-4">
      <strong class="text-secondary">Balance :</strong> Rs. {{clientData.totalIncome}}</span>
    <span class="float-right">
      <button type="button" class="btn btn-light font-weight-bold text-secondary" (click)="isEditIncome = !isEditIncome">Edit Income</button>
    </span>
    <app-right-panel [editIncome]="isEditIncome" [editExpence]="isEditExpence" [clientData]="clientData">
    </app-right-panel>
  </mat-sidenav-content>
</mat-sidenav-container>